/* style.css */

/* 
* https://www2.lunapic.com/editor/ 
* link to edit images to get it to be transparent bg
*/

body,html{
    height: 100%;
}

#indexPageBG{
    background-image: url('../img/targetBG.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#storeBox{
    position: absolute;
    float: left;
    margin-top: 60px;
    margin-left: 100px;
    font-size: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    opacity: 0.8;
}

#storeLogo{
    width: 160px;
    height: 50px;
} 

/* different color palettes: https://colorhunt.co/palette/155497 */
#circle {
    position: absolute;
    width: 370px;
    height: 370px;
    border-radius: 50%;
    margin-top: 180px;
    margin-left: 450px;
    background-color: #3282b8;
    color: #faf5e4;
}

#circle:hover{
    background-color: #f9fcfb;
    color: #41aaa8;
}

h5{
    margin-top: 15px;
    font-size: 50px;
    text-align: center;
    letter-spacing: 1px;
}
#touch{
    margin-top: 40px;
    width: 120px;
    height: 120px;
    margin-left: 100px;
}

a{
    text-decoration: none;
    color: #41aaa8;
}

.nav {
    position: absolute;
    overflow: hidden;
    width: 100%;
    bottom:0;
    
    }

.nav a{
    float: left;
    background-color: #f0efef;
    /*display: block;*/
    text-align: center;
    padding: 20px 120px; /* top,right,bottom,left */
    font-size: 25px;
    font-weight:bold;
    color: #4d4646;
    /*border: 5px solid gainsboro;*/
    margin: 50px;
}
.nav a:hover{
    background-color: #f9fcfb;
    color: #41aaa8;
}

/* 
 * mainpage link buttons 
*/


#mainPageBG{
    
}

#links{
    float: left;
    margin-top: 70px;
    text-decoration: none;
    color: #41aaa8;
    background-color: #f0efef;
    text-align: center;
    padding: 20px 80px;
    font-size: 20px;
    font-weight:bold;
    color: #4d4646;
    margin-left: 50px;
    
}

#links:hover{
    background-color: #f9fcfb;
    color: #41aaa8;
}

/* voice search */
input[type=text] {
    float: right;
    padding: 10px 40px;
    margin-top: 70px;
    border: 6px solid;
    border-color: #f0efef;
    font-size: 17px;
    font-family: Verdana, Tahoma, sans-serif;
}

/*microphone img */
#voiceAssist{
    width: 80px;
    height: 80px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 40px;
    float: right;
}

#firstBox{
    width: 150px;
    height: 150px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #f0efef;
    padding: 20px 20px;
    margin-top: 200px;
    position: absolute;
    margin-left: 200px;
}

#cart{
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

#hr{
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
}

#firstBox:hover{
    background-color: #f9fcfb;
    color: #41aaa8;
}

#secondBox{
    width: 150px;
    height: 150px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #f0efef;
    padding: 20px 20px;
    margin-top: 200px;
    position: absolute;
    margin-left: 500px;
}

#navigation{
    margin-top: 5px;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}

#accounting{
    margin-top: 10px;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}

#secondBox:hover{
    background-color: #f9fcfb;
    color: #41aaa8;
}

#thirdBox{
    width: 150px;
    height: 150px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #f0efef;
    padding: 20px 20px;
    margin-top: 200px;
    position: absolute;
    margin-left: 800px;
}

#profile{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}

#vendor{
    margin-top: 10px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}

#thirdBox:hover{
    background-color: #f9fcfb;
    color: #41aaa8;
}

#fourthBox{
    width: 150px;
    height: 150px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #f0efef;
    padding: 20px 20px;
    margin-top: 450px;
    position: absolute;
    margin-left: 200px;
}

#priceCheck{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
#advertisement{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}

#fourthBox:hover{
    background-color: #f9fcfb;
    color: #41aaa8;
}

#fifthBox{
    width: 150px;
    height: 150px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #f0efef;
    padding: 20px 20px;
    margin-top: 450px;
    position: absolute;
    margin-left: 500px;
}

#requestHelp{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}

#promotions{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}

#fifthBox:hover{
    background-color: #f9fcfb;
    color: #41aaa8;
}

#sixthBox{
    width: 150px;
    height: 150px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #f0efef;
    padding: 20px 20px;
    margin-top: 450px;
    position: absolute;
    margin-left: 800px;
}

#accessibility{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}

#inventory{
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 130px;
    height: 110px;
}

#sixthBox:hover{
    background-color: #f9fcfb;
    color: #41aaa8;
}

.cart{
    float: left;
    padding-left: 100px;
    padding-top: 150px;
}

#cartInViewCartPage{
    width: 100px;
    height: 100px;
}

.text{
    width: 20%;
    color: #41aaa8;
    font-size: 15px;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    padding: 5px;
    background-color: #f9fcfb;
    border: 1px solid;
    margin-top: 170px;
    margin-left: 50px;
}
#shoppingCartBox{
    width: 700px;
    height: 400px;
    background-color: #f0efef;
    margin: auto;
    width: 60%;
    padding: 20px 10px;
    margin-top: 300px;
    position: absolute;
    margin-left: 200px;
}
.delete{
    float: left;
    padding:10px;
    background-color: #f0efef;
}
.box{
    float: left;
    background-color: #f9fcfb;
}
.info{
    font-size: 10px;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 25px 10px 18px 10px; /* top,right,bottom,left */
    color: #41aaa8;
    background-color: #f9fcfb;
    width: 30%;
    text-align: center;
    padding-left:120px;
}
#deleteImg{
    padding:20px;
    height:40px;
    width:30px;
}
#cheetos{
    padding: 10px;
    height: 60px;
    width: 50px;
}
#ketchup{
    padding: 10px;
    padding-left:25px;
    height: 60px;
    width: 30px;
}
