/* style.css */

/* 
* https://www2.lunapic.com/editor/ 
* link to edit images to get it to be transparent bg

* different color palettes: https://colorhunt.co/palette/155497 
*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

body,html{
    height: 100%;
}

#indexPageBG{
    background-image: url('../img/targetBG.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#storeBox{
    position: absolute;
    float: left;
    margin-top: 60px;
    margin-left: 100px;
    font-size: 20px;
    font-family: Verdana, Tahoma, sans-serif;
}

#storeLogo{
    height: 70px;
    padding-right: 8em;
} 

.flex-container > #circle {
    width: 370px;
    height: 370px;
    border-radius: 50%;
    background-color: #3282b8;
    color: #faf5e4;
}

#circle:hover{
    background-color: #f9fcfb;
    color: #41aaa8;
}

h5{
    margin-top: 15px;
    font-size: 50px;
    text-align: center;
    letter-spacing: 1px;
}

.flex-container > #circle, #touch{
    align-self: center;
}

#touch{
    padding-left: 6em;
}

a{
    text-decoration: none;
    color: #41aaa8;
}

.flex-container > .nav {
    position: absolute;
    overflow: hidden;
    bottom:0;
    display: flex;
    }

.nav a{
    float: left;
    background-color: #f0efef;
    /*display: block;*/
    text-align: center;
    padding: 20px 80px; /* top,right,bottom,left */
    font-size: 25px;
    font-weight:bold;
    color: #4d4646;
    /*border: 5px solid gainsboro;*/
    margin: 50px;
}
.nav a:hover{
    background-color: #f9fcfb;
    color: #41aaa8;
}

/* 
 * mainpage link buttons 
*/


#mainPageBG{
    background-color: #d3d3d1;
}

/* go back btn */
.links{
    float: left;
    margin-top: 3em;
    text-decoration: none;
    color: #41aaa8;
    background-color: #f0efef;
    text-align: center;
    padding: 20px 30px;
    font-size: 20px;
    font-weight:bold;
    color: #4d4646;
    margin-left: .5em;
    margin-right: .5em;
}

/* logout btn */
.logout{
    float: right;
    margin-top: 3em;
    margin-right: 1em;
}
.checkout{
    float: right;
    background-color: #f9fcfb;
}
/* create an account btn */
.createaccount{
    float: right;
    margin-right: 1em;
}

.links:hover{
    background-color: #f9fcfb;
    color: #41aaa8;
}
/* voice search */
input[type=search] {
    padding: 20px 40px;
    margin-top: 90px;
    margin-left: 200px;
    font-size: 1em;
    font-family: Verdana, Tahoma, sans-serif;
}

/*microphone img */
#voiceAssist{
    width: 60px;
    height: 60px;
    margin-top: 70px;
    margin-left: 10px;
}

/*main page styles */

#flexboxes{
    display: flex;
    padding-top: 13em;
    flex-wrap: wrap;
    justify-content: center;
}

#firstBox{
    width: 150px;
    height: 150px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #f0efef;
    padding: 20px 20px;
    order: 1;
    margin: 1em;
}

#cart{
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

#hr, #priceModify{
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
}


#firstBox:hover{
    background-color: #f9fcfb;
    color: #41aaa8;
}

#secondBox{
    width: 150px;
    height: 150px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #f0efef;
    padding: 20px 20px;
    order: 2;
    margin: 1em;

}

#navigation{
    margin-top: 5px;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}

#accounting, #return{
    margin-top: 10px;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}

#secondBox:hover{
    background-color: #f9fcfb;
    color: #41aaa8;
}

#thirdBox{
    width: 150px;
    height: 150px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #f0efef;
    padding: 20px 20px;
    order: 3;
    margin: 1em;
}

.profile{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}

#vendor, #settings{
    margin-top: 10px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}

#thirdBox:hover{
    background-color: #f9fcfb;
    color: #41aaa8;
}

#fourthBox{
    width: 150px;
    height: 150px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #f0efef;
    padding: 20px 20px;
    order: 4;
    margin: 1em;
}

#priceCheck{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}

#advertisement, #accessCustomer{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}

#fourthBox:hover{
    background-color: #f9fcfb;
    color: #41aaa8;
}

#fifthBox{
    width: 150px;
    height: 150px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #f0efef;
    padding: 20px 20px;
    order: 5;
    margin: 1em;
}

#requestHelp{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}

#promotions, #customerCheckOut{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}

#fifthBox:hover{
    background-color: #f9fcfb;
    color: #41aaa8;
}

#sixthBox{
    width: 150px;
    height: 150px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #f0efef;
    padding: 20px 20px;
    order: 6;
    margin: 1em;
}

#accessibility{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}

#inventory, #other{
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 130px;
    height: 110px;
}

#sixthBox:hover{
    background-color: #f9fcfb;
    color: #41aaa8;
}

.cart{
    float: left;
    padding-left: 100px;
    padding-top: 150px;
}

#cartInViewCartPage{
    width: 90px;
    height: 90px;
    position: absolute;
    margin-top: -140px;
    margin-left: 230px;
}

.text{
    width: 20%;
    color: #41aaa8;
    font-size: 15px;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    padding: 5px;
    background-color: #f9fcfb;
    border: 1px solid;
/* Shopping Cart */
}
#shoppingCartBox{
    background-color: #f0efef;
    margin: auto;
    width: 70%;
    padding: 20px 10px;
    margin-top: 170px;
    position: absolute;
    margin-left: 200px;
}
.shop-item-image {
    height: 250px;
}
.delete{
    float: left;
    padding:10px;
    background-color: #f0efef;
}
.box{
    float: left;
    background-color: #f9fcfb;
}
.info{
    font-size: 10px;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 25px 10px 18px 10px; /* top,right,bottom,left */
    color: #41aaa8;
    background-color: #f9fcfb;
    width: 30%;
    text-align: center;
    padding-left:120px;
}
#deleteImg{
    padding:20px;
    height:40px;
    width:30px;
}
.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
}

.cart-row {
    display: flex;
}

.cart-quantity {
    width: 35%;
}
.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 2em;
}
.cart-quantity-input {
    height: 34px;
    width: 50px;
    background-color: #eee;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}
.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}
/* AdminPage, all 6 pages */
#personnel{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
#payroll{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
.others{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
.hours{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
#accountpay{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
#recievable{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
#meat{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
#dairy{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
.produce{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
#tv{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
#radio{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
.print{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
#deals{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
#ad{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
.discount{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
#purchase{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
#bill{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
.refund{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
#invoice{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
#warehouse{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
#sales{
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
}
/* customer log in page */

#boxLayout{
    display: flex;
    background-color: #f0efef;
    margin-top: 3em;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.userPage{
    margin-top: 40px;
    margin-left: 5em;
    width: 150px;
    height: 150px;
}

/*username and password container*/
.input-container{
    display: flex;
    flex-direction: column;
}

input[type=text]{
    padding: 10px 15px;
    margin-top: 15px;
    margin-left: 38px;
    width: 45%;
    font-size: 11px;
    font-family: Verdana, Tahoma, sans-serif;
}

input[type=password] {
    padding: 10px 15px;
    margin-top: 15px;
    margin-left: 38px;
    width: 45%;
    font-size: 11px;
    font-family: Verdana, Tahoma, sans-serif;
}
button{
    background-color: #3282b8;
    color: #faf5e4;
    padding: 10px 15px;
    margin-top: 25px;
    margin-left: 70px;
    width: 60%;
    border: none;
    cursor: pointer;
}

button:hover{
    opacity: 0.7;
}

.floorPlan {
    width: 1200px;
    height: 640px;
}

.shopping {
    font-size: 40px;
    position: absolute;
    margin-left: 40%;
}

#searchButton {
    margin-left: -95px;
}

/* Responsive cases */

@media screen and (orientation: portrait) {
    .flex-container > .nav {
        flex-direction: column;
        margin-top: 200px;
  }
    .flex-container > #circle {
        position: relative;
        top: -10em;
    }
}
@media only screen 
    and (max-width: 768px) 
    and (orientation: landscape) {

        .links{
            float: left;
            margin-top: 2em;
            text-decoration: none;
            color: #41aaa8;
            background-color: #f0efef;
            text-align: center;
            padding: 20px 30px;
            font-size: 12px;
            font-weight:bold;
            color: #4d4646;
            margin-left: .5em;
            margin-right: .5em;
        }

        #flexboxes{
            display: flex;
            padding-top: 5em;
        }

        #firstBox{
            width: 105px;
            height: 105px;
            font-size: 14px;
            text-align: center;
            letter-spacing: 1px;
            background-color: #f0efef;
            padding: 20px 20px;
            order: 1;
            margin: 1em;
        }

        #cart{
            margin-top: 0px;
            margin-right: 20px;
            margin-bottom: 10px;
            width: 85px;
            height: 85px;
        }

        #secondBox{
            width: 105px;
            height: 105px;
            font-size: 14px;
            text-align: center;
            letter-spacing: 1px;
            background-color: #f0efef;
            padding: 20px 20px;
            order: 1;
            margin: 1em;
        }

        #navigation{
            margin-top: 0px;
            margin-right: 20px;
            margin-bottom: 10px;
            width: 85px;
            height: 85px;
        }

        #thirdBox{
            width: 105px;
            height: 105px;
            font-size: 14px;
            text-align: center;
            letter-spacing: 1px;
            background-color: #f0efef;
            padding: 20px 20px;
            order: 1;
            margin: 1em;
        }
        
        .profile{
            margin-top: 0px;
            margin-right: 20px;
            margin-bottom: 10px;
            width: 85px;
            height: 85px;
        }

        #fourthBox{
            width: 105px;
            height: 105px;
            font-size: 14px;
            text-align: center;
            letter-spacing: 1px;
            background-color: #f0efef;
            padding: 20px 20px;
            order: 1;
            margin: 1em;
        }
        
        #priceCheck{
            margin-top: 0px;
            margin-right: 20px;
            margin-bottom: 10px;
            width: 85px;
            height: 85px;
        }

        #fifthBox{
            width: 105px;
            height: 105px;
            font-size: 14px;
            text-align: center;
            letter-spacing: 1px;
            background-color: #f0efef;
            padding: 20px 20px;
            order: 1;
            margin: 1em;
        }
        
        #requestHelp{
            margin-top: 0px;
            margin-right: 20px;
            margin-bottom: 10px;
            width: 85px;
            height: 85px;
        }

        #sixthBox{
            width: 105px;
            height: 105px;
            font-size: 14px;
            text-align: center;
            letter-spacing: 1px;
            background-color: #f0efef;
            padding: 20px 20px;
            order: 1;
            margin: 1em;
        }
        
        #accessibility{
            margin-top: 0px;
            margin-right: 20px;
            margin-bottom: 10px;
            width: 85px;
            height: 85px;
        }

        .createaccount{
            position: absolute;
            margin-top: 26em;
            margin-left: 35%;
        }

        #boxLayout{
            display: flex;
            background-color: #f0efef;
            margin-top: 1em;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 15px 15px;
        }

        .input-container{
            display: flex;
            flex-direction: column;
        }
        
        input[type=text]{
            padding: 8px 12px;
            margin-top: 13px;
            margin-left: 30px;
            width: 50%;
            font-size: 10px;
            font-family: Verdana, Tahoma, sans-serif;
        }
        
        input[type=password] {
            padding: 8px 12px;
            margin-top: 13px;
            margin-left: 8px;
            width: 50%;
            font-size: 10px;
            font-family: Verdana, Tahoma, sans-serif;
        }
        button{
            background-color: #3282b8;
            color: #faf5e4;
            padding: 10px 15px;
            margin-top: 20px;
            margin-left: 70px;
            width: 50%;
            border: none;
            cursor: pointer;
        }

        #create_heading {
            font-size: 18px;
            margin-left: 50px;
        }

       #fname {
           font-size: 14px;
           margin-right: 275px;
       }

       #lname {
        font-size: 14px;
        margin-right: 275px;
        margin-top: 15px;
    }

    #mail {
        font-size: 14px;
        margin-right: 305px;
        margin-top: 15px; 
    }

    #pass {
        font-size: 14px;
        margin-right: 280px;
        margin-top: 15px; 
    }

    #password_input {
        margin-left: 31px;
    }

    #pass_repeat {
        font-size: 14px;
        margin-right: 238px;
        margin-top: 15px; 
    }

    #pass_repeat_input {
        margin-left: 31px;
    }

    #register_btn {
        margin-left: 100px;
    }

    .below_regis {
        font-size: 13px;
    }

    .floorPlan {
        width: 600px;
        height: 410px;
    }

    #shoppingCartBox{
        margin: auto;
        width: 87%;
        padding: 20px 10px;
        margin-top: 130px;
        position: absolute;
        margin-left: 30px;
    }

    .shopping {
        font-size: 35px;
        position: absolute;
        margin-left: 40%;
    }

    #cartInViewCartPage{
        width: 70px;
        height: 70px;
        position: absolute;
        margin-top: -140px;
        margin-left: 0px;
    }

    #storeBox{
        position: absolute;
        float: left;
        margin-top: 60px;
        margin-left: 70px;
        font-size: 20px;
        font-family: Verdana, Tahoma, sans-serif;
    }

    #touch {
        width: 100px;
        padding-left: 105px;
        padding-top: 40px;
        
    }

    h5{
        margin-top: 15px;
        font-size: 40px;
        text-align: center;
        letter-spacing: 1px;
    }

    .flex-container > #circle {
        width: 320px;
        height: 320px;
        border-radius: 50%;
        background-color: #3282b8;
        color: #faf5e4;
    }

    #storeLogo{
        height: 70px;
        padding-right: 5em;
    } 
    
    


}
/*
***
Checkout page

***/
.checkout-panel {
    display: flex;
    flex-direction: column;
    width: 940px;
    height: 766px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
  }
  .panel-body {
    padding: 45px 80px 0;
    flex: 1;
  }
   
  .title {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
    color: #2e2e2e;
  }
  .progress-bar {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
  }
   
  .step {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 30px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #efefef;
  }
   
  .step:after {
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 22px;
    width: 225px;
    height: 6px;
    content: '';
    background-color: #efefef;
  }
   
  .step:before {
    color: #2e2e2e;
    position: absolute;
    top: 40px;
  }
   
  .step:last-child:after {
    content: none;
  }
   
  .step.active {
    background-color: #f62f5e;
  }
  .step.active:after {
    background-color: #f62f5e;
  }
  .step.active:before {
    color: #f62f5e;
  }
  .step.active + .step {
    background-color: #f62f5e;
  }
  .step.active + .step:before {
    color: #f62f5e;
  }
   
  .step:nth-child(1):before {
    content: 'Delivery';
  }
  .step:nth-child(2):before {
    right: -40px;
    content: 'Confirmation';
  }
  .step:nth-child(3):before {
    right: -30px;
    content: 'Payment';
  }
  .step:nth-child(4):before {
    right: 0;
    content: 'Finish';
  }
  .payment-method {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
  }
   
  .method {
    display: flex;
    flex-direction: column;
    width: 382px;
    height: 122px;
    padding-top: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgb(249, 249, 249);
    justify-content: center;
    align-items: center;
  }
   
  .card-logos {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
  }
   
  .radio-input {
    margin-top: 20px;
  }
   
  input[type='radio'] {
    display: inline-block;
  }
  .input-fields {
    display: flex;
    justify-content: space-between;
  }
   
  .input-fields label {
    display: block;
    margin-bottom: 10px;
    color: #b4b4b4;
  }
   
  .info {
    font-size: 12px;
    font-weight: 300;
    display: block;
    margin-top: 50px;
    opacity: .5;
    color: #2e2e2e;
  }
   
  div[class*='column'] {
    width: 382px;
  }
   
  input[type='text'],
  input[type='password'] {
    font-size: 16px;
    width: 100%;
    height: 50px;
    padding-right: 40px;
    padding-left: 16px;
    color: rgba(46, 46, 46, .8);
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    outline: none;
  }
   
  input[type='text']:focus,
  input[type='password']:focus {
    border-color: rgb(119, 219, 119);
  }
   
  #date { background: url(img/icons_calendar_black.png) no-repeat 95%; }
  #cardholder { background: url(img/icons_person_black.png) no-repeat 95%; }
  #cardnumber { background: url(img/icons_card_black.png) no-repeat 95%; }
  #verification { background: url(img/icons_lock_black.png) no-repeat 95%; }
   
  .small-inputs {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
   
  .small-inputs div {
    width: 182px;
  }
  .panel-footer {
    display: flex;
    width: 100%;
    height: 96px;
    padding: 0 80px;
    background-color: rgb(239, 239, 239);
    justify-content: space-between;
    align-items: center;
  }
  .btn {
    font-size: 16px;
    width: 163px;
    height: 48px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    letter-spacing: 1px;
    border: none;
    border-radius: 23px;
  }
   
  .back-btn {
    color: #f62f5e;
    background: #fff;
  }
   
  .next-btn {
    color: #fff;
    background: #f62f5e;
  }
   
  .btn:focus {
    outline: none;
  }
   
  .btn:hover {
    transform: scale(1.1);
  }
  .blue-border {
    border: 1px solid rgb(110, 178, 251);
  }